/* 기본 색상 설정 */ 
:root{
    --primary:#7e75ff;           /* 버튼 색 */
    --primary-600:#6b64e6;       /* 버튼 색 : 클릭 등이 됐을 때의 강조색*/
    --header:#dfe4ff;            /* 테이블 헤더 배경 */
    --border:#aeb3c7;            /* 외곽선 색 */
    --grid:#d7d9e3;              /* 셀 경계선 */
    --bg:#fafbff;               /* 전체 페이지 배경색 */
    --text:#222;                /* 기본 글자색 */
    --muted:#666;               /* 입력 불가능 상태일 때...라고 생각하지만 여기에서 쓰인 곳이 없습니다. */
}

/* 전체 배경 설정용 */
body { 
    background: var(--bg);
    color: var(--text);
}

/* 버튼 기본 양식 */
.fil-btn, .btm-btn, .slide-btn, .material {
    background: var(--primary);
    border: 1px solid var(--primary);
    cursor: pointer;
    transition: all .15s ease;
    color: #ffffff;
}
.fil-btn:hover, .btm-btn:hover, .slide-btn:hover, .material:hover {
    background: var(--primary-600);
    border-color:var(--primary-600);
}

/* 글씨 입력, 드롭다운 선택 기본 양식 */
input, select {
    outline: none;
    border: 2px solid var(--border);
}

/* 테이블 헤더 토글 css - 메인 조회 테이블 순서 바꾸는 것 */
.table th {
  cursor: pointer;
  position: relative;
  user-select: none;
  padding-right: 20px;
}
.table th::after {
  content: "↕";  /* 초기 상태: 양방향 화살표 */
  position: absolute;
  right: 6px;
  font-size: 0.8em;
  color: #999;
}
.table th.asc::after  {
  content: "▲";
  color: #000;
}
.table th.desc::after {
  content: "▼";
  color: #000;
}
.table th.chkbox {
  padding: 10px;        /* 화살표 자리 제거 */
  text-align: center;      /* 수평 가운데 */
}

.table th.chkbox::after {
  content: none !important;
}


/* 페이지 제목 영역 */
.title {
    margin-bottom: 50px;
}

/* 페이지 제목 영역 내 텍스트 */

h1{
    margin: 10px 0;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: -0.3px;
}

/* 각 페이지 별로 있는 조회 조건 선택 영역 */
/*
    - filter-item-box : 조회 조건 모음
        + filter-item: 개별 조건 선택 영역
            * filitem-name : 조건명
            * filitem-input : 실제 조건 선택 영역
    - filter-btn : 조회 버튼 영억
*/

.filter {
    border: 2px solid var(--border);
    width: 100%;
    display: flex;
    background-color: #ffffff;
}

.filter-item-box {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    gap: 15px;
}

.filter-item {
    display: flex;
    width: 45%;
    align-items: center;
}

.filitem-name {
    width: 25%;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.1rem;
}

.filitem-input {
    width: 75%;
}

.filitem-input > select, .filitem-input > input[type="text"], .filitem-input > input[type="button"] {
    font-size: 1.1rem;
    padding: 2px;
    height: 35px;
}

.tilde{
	margin:0 3px;
	color:#333333;
}

.filter-btn {
    width: 10%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn > input {
    width: 70%;
    height: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}


/* 테이블 영역 디자인. 슬라이드 영역의 테이블도 일부 적용됨 */

/* overflow, max-height는 수정 X */
.table {
    width: 100%;
    margin: 50px auto;
    max-height: none; 
    overflow: visible;
}

/* border-collapse, table-layout는 수정 X */
.table > table {
    margin: 0;
    width: 100%;
    text-align: center;
    border: 2px solid var(--border);
    background-color: #ffffff;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    font-size: 1.3rem;
    padding: 10px;
    background: var(--header);
}

td {
    font-size: 1.1rem;
    padding: 10px;
    border-bottom:1px solid var(--grid);
    border-right:1px solid var(--grid);
}

/* 
    테이블 width 분배 계산 잘하기.
    가로 길이가 아마 다 맞춰져 있을 거라 웬만해서 안 건드리시는 걸 추천.
        chkbox : 체크박스
        id : ~~id 영역
        type : 분류, 폐기 여부
        name : 불량사유명
        date : 일자
        amount : 수량... 인데 왜 50으로 바뀌어 있는지 모르겠습니다.
        gb : 검사의 good, bad. 혹은 수량 요소에 적용.
*/

.chkbox {
    width: 5%;
}

.id, .date {
    width: 35%;
}

.type {
    width: 10%;
}

.name {
    width: 30%;
}

.amount {
    width: 50%;
}

.gb {
    width: 15%;
}

/* 테이블 하단 버튼 영역 */

.bottom-btn {
    width: 100%;
}

/* 페이징이라 글씨체 등등 새 요소 추가는 괜찮은데 현재 있는 설정은 그대로 두기 */
.page {
    text-align: center;
    z-index: 1;
}

.bottom-btn-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btm-btn {
    width: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

/* 
    슬라이드 공통 : .silde 기준
    템플릿 적용 후에 width 더 줄여야 할 듯.
*/

/* background-color, box-shadow 말고는 바꾸기 X */
.slide {
    position: fixed;
    top: 0;
    right: -110%;
    width: calc(100% - 14rem);
    height: 100%;
    background-color: #f3f3f3;
    box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    transition: right 1s ease;
    overflow-y: auto;
}

/* 변경 X : 여닫기 기능과 연동되어 있음 */
.slide.open {
    right: 0;
}

/* 슬라이드 닫기 버튼(우상단의 회색 X) */
.slide-close-btn {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    float: right;
    cursor: pointer;
    margin: 50px;
}

/* 슬라이드 제목(가장 위에 있는 것) */
.silde-title {
	font-size: 2rem;
	font-weight: bold;
	margin: 30px;
}

/* 슬라이드 제목 아래에 ~ id: ~~라고 써져 있는 부분, 혹은 슬라이드 내 소제목*/
.slide-id, .slide-subTitle {
	margin: 30px;
    font-weight: bold;
    font-size: 1.6rem;
} 

/* 슬라이드 내부 요소들 묶음*/
.slide-contents {
    margin: 50px 30px;
}

/* 슬라이드 내 테이블 영역 */
.slide-contents > .slide-tb {
    margin: 30px;
}

/* 슬라이드 내 테이블 영역의 실제 테이블 */
.slide-contents > .slide-tb > table {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
}

/* 슬라이드 내 공통으로 있는 등록, 취소, 수정 버튼 영역*/
.slide-btnbox {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 30px;
}

/* bom, 품질 검사에 있는 ~추가, ~삭제 버튼 */
.slide-tb-btnbox {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px;
}

/* 위에 있는 slide-btnbox와 slide-tb-btnbox의 글씨 설정용 */
.slide-btnbox > input, .slide-tb-btnbox > input {
    width: 10%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}




/* .material {
    width: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
} */


/* 입력 & 수정용 슬라이드 : #slide-input 기준 */
/* 수정 X!! */
#slide-input {
    z-index: 2000;
}

/* 상세 슬라이드 : #slide-detail 기준 */
/* 수정 X!!! */
#slide-detail {
    z-index: 1000;
}

/* 모달 박스 - 작업 지시서 하단에 display: none 적용 안 해둔 상태라, 그쪽에서 확인 가능. */
/* 모달 전체 영역. 아마 색상이랑 글씨 빼고 안 하는 게 나을 수도? 필요할 것 같으면 얘기해주세요. */
.add-modal {
    background: #fff;
    border-radius: 16px;
    padding: 40px;
    width: 500px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    z-index: 6000;
}

/* 모달의 전체 제목(최상단에 있는 것) */
.modal-title {
    font-size: 26px;
    font-weight: 800;
    color: #222;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

/* 모달의 실제 데이터 표시 영역*/
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    padding: 30px 0 0;
    font-size: 20px;
}

/* 모달 내 실제 데이터 표시 영역의 하위 영역 - 개별 데이터*/
.field {
    padding: 0 50px;
}

/* 개별 데이터 제목용 */
.field > span {
	font-weight: bold;
}

/* 이거... 아마 아라씨 쪽 계정 관리 비밀번호 초기화에 있는 겁니다. */
.confirm {
    margin: 20px auto 0;
    padding: 25px 0;
    font-weight:  bold;
}

/* 모달 하단의 버튼 묶음 영역 */
.modal-btnbox {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* 실제 버튼 영역*/
.m-btn {
    min-width: 90px;
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}