<!-- 추후 jsp로 변경 시, 하단 코드 삽입하기-->
<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J2P4</title>
</head>
<body>
    <div class="up">
        <div class="production">
            <div class="title">
                <div>생산 현황</div>
                <div>+ 더보기</div>
            </div>
            <div class="content">
                <div class="total">
    				<div>총 생산량(단위 : 개)</div>
                </div>
                <div class="goal">
    				<div>목표 달성률(%)</div>
                </div>
                <div class="error">
    				<div>누적 불량 수(단위 : 개)</div>
                </div>
            </div>
        </div>
        <div>
            <div class="title">
                <div>재고 현황</div>
                <div>+ 더보기</div>
            </div>
            <div class="graph">
                
            </div>
        </div>
    </div>
    <div class="down">
        <div class="title">
            <div>게시판</div>
            <div>+ 더보기</div>
        </div>
        <table>
            <tr>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
            </tr>
        </table>
    </div>
</body>
</html>